@use "../variables/variables";
@use "../mixin/mixin";

.concept {
  background-image: url(../images/concept-bg.png);
  background-repeat: repeat;
  background-position: center;
  background-size: cover;

  &-container{
    @include mixin.container;
    padding-top: 4.02rem;
    padding-bottom: 7rem;
    display: flex;
    flex-direction: row-reverse;
  }

  &-title{
    writing-mode: vertical-rl;
    text-orientation: upright;
    margin-right:9.8% ;
    font-size: 1.75rem;
    letter-spacing: -0.44rem;
    & span{
      display: block;
      margin-top: 5.3rem;
      margin-right: 1.4rem;
    }
  }

  &-textbox{
    writing-mode: vertical-rl;
    text-orientation: upright;
    margin-right: 8.7%;
    margin-top: 5.3rem;
    &:nth-of-type(n+2){
      margin-right: 8%;
    }
  }

  &-text{
    // 文字サイズ+行間22px
    line-height: 2.375;
    letter-spacing: -0.31rem;

  }

  &-sign{
    font-size: 1.375rem;
    writing-mode: vertical-rl;
    text-orientation: upright;
    margin-right: 9%;
    text-align:right;
    letter-spacing: -0.4rem;
    margin-bottom: 1.7rem;
  }

  
}
