@use "../variables/variables";
@use "../mixin/mixin";

/* ===============================================
#フッター
=============================================== */
.footer {
  background-image: url(../images/footer-bg.png);
  background-repeat: repeat;
  background-position: 0 0;
  background-size: auto auto;

  &-container {
    @include mixin.container;
    padding-top: 3rem;
    padding-bottom: 2rem;
  }

  &-list{
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    gap: 2.125rem;
    margin-bottom: 2rem;
  }

  &-link{
    writing-mode: vertical-rl;
  }

  &-logo {
    width: 145px;
    margin-bottom: 24px;
    margin-left: auto;
    margin-right: auto;
  }

  &-access{
    display: flex;
    justify-content: center;
  }

  &-address:nth-child(2){
    margin-left: 1rem;
  }


  &-tel{
    display: flex;
    justify-content: center;
  }

  &-fax{
    margin-left: 1.3125rem;
  }
  
  &-copy{
    // 最低フォントサイズで固定
    font-size: 12px;
    text-align: center;
    color: #ffffff;
    background-color: #000000;
    padding-top: 21px;
    padding-bottom: 23px;
  }
}
