@use "../variables/variables";
@use "../mixin/mixin";

/* ===============================================
#フッター
=============================================== */
.footer {
  &-container {
    @include mixin.container;
    background-color: #f8f8f8;
    padding-top: 45px;
    padding-bottom: 45px;
  }

  &-title {
    margin-bottom: 24px;
    text-align: center;
  }

  &-caution {
    display: flex;
    justify-content: center;
    gap: 50px;
    margin-bottom: 54px;
    @include mixin.pad {
      gap: 20px;
    }
  }

  &-text {
    margin-bottom: 60px;
  }

  &-copy {
    font-size: 0.875rem;
    text-align: center;
  }
}
