@use "../variables/variables";
@use "../mixin/mixin";

/* ===============================================
# ヘッダー
=============================================== */
.header {
  $sec: "header";
  position: relative;

  &-container {
    max-width: 1980px;
    position: absolute;
    z-index: 100;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &-nav {
    display: flex;
    align-items: center;
  }

  &-logo {
    padding: 17px 0 20px 20px;
    a {
      display: block;
      max-width: 200px;
      @include mixin.mobile{
        max-width: 150px;
        }
    }
  }

  &-links {
    display: flex;
    margin-left: 120px;
    @include mixin.pad{
      margin-left: 40px;
    }
    @include mixin.mobile {
      display: none;
    }
  }

  &-link {
    color: #ffffff;
    &:nth-of-type(n + 2) {
      margin-left: 1.9rem;
    }
  }

  // お問い合わせボタンのデザイン
  &-btn {
    @include mixin.btn;
    margin: 13px 20px 13px;
    background-color: #978f10;
    position: relative;
    @include mixin.mobile{
    display: none;
    }
    // カレンダーのロゴ
    &:before {
      position: absolute;
      top: 16px;
      left: 40px;
      content: "";
      display: inline-block;
      width: 22px;
      height: 22px;
      vertical-align: middle;
      background-image: url(../images/header-btn-icon.png);
      background-position: 0 0;
      background-size: contain;
      @include mixin.mobile{
        
        top: 17px;
        left: 6px;
        width: 16px;
        height: 16px;
      }
      @include mixin.pad{
        top: 17px;
        left: 6px;
        width: 16px;
        height: 16px;
      }
    }
  }

  // ヘッダーのトグルボタン
  &-toggle {
    // mobile以外非表示
    display: none;
    // mobile時
    @include mixin.mobile {
      display: block;
      padding: 20px;
      cursor: pointer;
      & .toggle-btn {
        @include mixin.toggleBtn;
        & span {
          background-color: #ffffff;
        }
      }
    }
  }
}

