@use "../variables/variables";
@use "../mixin/mixin";

/* ===============================================
# / スマホ用メニュー
=============================================== */
.mobile {
  &-bg {
    display: none;
    background-image: url(../images/plan-bg.png);
    background-repeat: repeat;
    background-position: 0 0;
    background-size: auto auto;
    position: fixed;
    z-index: 400;
    height: 100vh;
    width: 100%;
    top: 0;
  }

  // スマホ用メニュー内トグルボタン
  &-toggle {
    position: fixed;
    top: 0;
    right: 0;
    display: inline-block;
    padding: 20px;
    cursor: pointer;
    // ボタン三本線
    & .toggle-btn {
      @include mixin.toggleBtn;
    }
    &::after {
      position: absolute;
      top: 55px;
      left: 21px;
      content: "閉じる";
      display: inline-block;
      vertical-align: middle;
      font-weight: bold;
    }
  }

  // 各リンク
  &-links {
    display: none;
    position: fixed;
    z-index: 500;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 90%;
    height: 50%;
    margin: auto;
    text-align: center;
  }

  &-linkbox {
    margin-bottom: 2rem;
  }

  &-link {
    & a {
      display: block;
      padding: 40px 0 40px;
      color: #ffffff;
      font-size: 1.5rem;
    }

    &:nth-child(1) {
      background-image: url(../images/service-image1.png);
      background-repeat: repeat;
      background-position: center;
      background-size: cover;
      border-radius: 10px 10px 0px 0px;
    }
    &:nth-child(2) {
      background-image: url(../images/plan-image3.png);
      background-repeat: repeat;
      background-position: center;
      background-size: cover;
    }
    &:nth-child(3) {
      background-image: url(../images/menu-image3.png);
      background-repeat: repeat;
      background-position: center;
      background-size: cover;
      border-radius: 0 0 10px 10px;
    }
  }

  &-btn{
    @include mixin.btn;
    background-color: #978f10;
    padding: 17px 0 17px;
    border-radius: 10px;
  }
}
