@use "../variables/variables";
@use "../mixin/mixin";

.news {
  $sec: "news";
  background-color: #ffffff;

  &-container {
    @include mixin.container;
    padding-top: 7.3rem;
    padding-bottom: 2.5rem;
  }

  &-title {
    @include mixin.common-title;
    margin-bottom: 2.3rem;
  }

  &-tablist {
    display: flex;
    justify-content: center;
    margin-left: -25px;
    margin-bottom: 2.95rem;
    gap: 50px;
  }

  &-tab {
    position: relative;
    @include mixin.cursor;
    &::after {
      content: "";
      display: none;
    }
    &._selected {
      // 選択しているタブにアンダーライン
      &::after {
        content: "";
        display: inline-block;
        height: 1px;
        background-color: #707070;
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        // 選択されているタブはデフォルトカーソル
        cursor: default;
        opacity: 1;
      }
    }
  }

  &-list {
    display: none;

    &._selected {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      // アニメーション
      @include mixin.tabSelect;
      @include mixin.pad {
        display: block;
      }
    }
  }

  &-item {
    padding: 15px 0 15px 10px;
    background-color: #f6f6f6;
    width: 48%;
    display: flex;
    margin-bottom: 1.25rem;
    @include mixin.pad {
      width: 80%;
      margin-left: auto;
      margin-right: auto;
    }
    @include mixin.mobile {
      width: 100%;
      min-height: 100px;
      background-repeat: repeat;
      background-position: center;
      background-size: cover;
      &._event{
        background-image: url(../images/news-image1.png);
      }
      &._course{
        background-image: url(../images/news-image2.png);
      }
    }
  }

  &-image {
    width: 103px;
    height: 100px;
    @include mixin.mobile {
      display: none;
    }
  }

  &-textbox {
    margin-left: 1.875rem;
    flex: 1;
  }

  &-date {
    font-size: 0.875rem;
    margin-bottom: 5px;
    line-height: 0.5;
    letter-spacing: -0.01rem;
    @include mixin.pad{
    font-size: 1rem;
    }
    @include mixin.mobile {
      @include mixin.white;
    }
  }

  &-text {
    //行間32px
    line-height: 2;
    @include mixin.pad {
      padding-right: 4%;
      & br {
        display: none;
      }
    }
    @include mixin.mobile {
      @include mixin.white;
    }
  }

  &-btn {
    @include mixin.menu-btn;
  }
}
