@use "../variables/variables";
@use "../mixin/mixin";

.news {
  $sec: "news";
  background-color: #ffffff;

  &-container {
    @include mixin.container;
    padding-top: 7.3rem;
    padding-bottom: 2.5rem;
  }

  &-title {
    @include mixin.common-title;
    margin-bottom: 2.3rem;
  }

  &-tablist {
    display: flex;
    justify-content: center;
    margin-left: -25px;
    margin-bottom: 2.95rem;
    gap: 50px;
  }

  &-tab {
    position: relative;
    @include mixin.cursor;
    &::after {
        content: "";
        display: none;
      }
      &._selected {
        // 選択しているタブにアンダーライン
        &::after {
          content: "";
          display: inline-block;
          height: 1px;
          background-color: #707070;
          position: absolute;
          bottom: 0;
          left: 0;
          width: 100%;
          // 選択されているタブはデフォルトカーソル
          cursor: default;
          opacity: 1;
        }
      }
  }

  &-list {
    display: none;

    &._selected {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      @include mixin.tabSelect;
    }
  }

  &-item {
    padding: 15px 0 15px 10px;
    background-color: #f6f6f6;
    width: 48%;
    display: flex;
    margin-bottom: 1.25rem;
  }

  &-image {
    width: 103px;
    height: 100px;
  }

  &-textbox {
    margin-left: 1.875rem;
    flex: 1;
  }

  &-date {
    font-size: 0.875rem;
    margin-bottom: 5px;
    line-height: 0.5;
    letter-spacing: -0.01rem;
  }

  &-text {
    //行間32px
    line-height: 2;

    &._concept {
      margin-bottom: 1.875rem;
    }
  }

  &-btn {
    @include mixin.menu-btn;
  }
}
