@use "../variables/variables";
@use "../mixin/mixin";

.plan {
  $sec:"plan";
  background-image: url(../images/plan-bg.png);
  background-repeat: repeat;
  background-position: center;
  background-size: cover;

  &-container{
    @include mixin.container;
    padding-top: 7.3rem;
    padding-bottom: 3.875rem;
  }

  &-title{
    @include mixin.common-title;
    margin-bottom: 3.5rem;
  }

  &-list{
    display: flex;
    justify-content: space-between;
    gap:7.94%;
    @include mixin.pc{
    gap: 2%;
    }
    @include mixin.pad{
    display: block;
    }
  }

  &-item{
    @include mixin.pad{
    width: 70%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    }
    @include mixin.mobile{
    width: 90%;
    text-align-last: left;
    }
  }

  &-image{
    margin-bottom: 1.5rem;
    @include mixin.pad{
    
    }
  }

  &-text{
    //行間32px
    line-height: 2.2;
    margin-bottom: 4.5625rem;
    letter-spacing: -0.02rem;
    @include mixin.pc{
    font-size: 0.9rem;
    }
    @include mixin.pad{
    font-size: 1rem;
    }

    &._concept{
      margin-bottom: 0.8rem;
      line-height: 1.8;
      letter-spacing: -0.01rem;
      @include mixin.pc{
        font-size: 1.2rem;
      }
      @include mixin.pad{
      font-size: 1.5rem;
      }
      @include mixin.mobile{
      font-size: 1.2rem;
      }
    }
  }

  &-btn{
    @include mixin.menu-btn;
  }
}

