@use "../variables/variables";
@use "../mixin/mixin";

/* ===============================================
# 文字
=============================================== */
body {
  font-family:“Times New Roman”, “游明朝”, “Yu Mincho”, “游明朝体”, “YuMincho”, “ヒラギノ明朝 Pro W3”, “Hiragino Mincho Pro”, “HiraMinProN-W3”, “HGS明朝E”, “ＭＳＰ明朝”, “MS PMincho”, serif;
  //  "游ゴシック体", "YuGothic", "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック", "Yu Gothic",
  //   "メイリオ", sans-serif;
  // "Helvetica Neue","Arial","Hiragino Sans","Hiragino Kaku Gothic ProN","Meiryo",sans-serif;
}

h1 {
  font-size: 2.25rem;
  line-height: 1.34;
  letter-spacing:normal ;
  font-weight: 500;
  color: variables.$color;
  &._mid{
    font-size: 1.375rem;
  }
}

h2 {
  font-size: 1.25rem;
  line-height: 1.34;
  letter-spacing: normal;
  font-weight: 500;
  color: variables.$color;
}

p {
  font-size: 1rem;
  line-height: 1.39;
  letter-spacing: normal;
  font-weight: 500;
  color: variables.$color;
}

a {
  font-size: 1rem;
  line-height: 1.39;
  letter-spacing: normal;
  font-weight: 500;
  cursor: pointer;
  transition:0.3s ;
  &:hover{
    opacity: 0.8;
  }
  @include mixin.touch{
    &:active{
      opacity: 0.8;
    }
  }
}

._text-white {
  color: #ffffff;
}

/* ===============================================
# リスト
=============================================== */
li {
  list-style: none;
}


