@use "../../../variables/variables";
@use "../../../mixin/mixin";

.top {
  &-container {
    margin-top: 80px;
    background-image: url(../../../../images/feature-top.png);
    background-repeat: repeat;
    background-position: center;
    background-size: cover;
    height: 500px;
    position: relative;
    @include mixin.mobile{
    margin-top: 70px;
    }
  }

  &-text {
    font-size: 2.125rem;
    color: #ffffff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform:translate(-50%,-50%);
  }

  
}
