/* ===============================================
# 変数
=============================================== */
// screen-size
$mobile: 599px;
$pad: 1024px;

// めったに使わない
$pc: 1212px;

// 最大幅
$max-width: 1980px;

// color-set
$color: #000000;
