/* ===============================================
# 変数
=============================================== */
// screen-size
$mobile: 768px;
$pad: 1280px;
$pc: 1366px;
$max-width: 1980px;

// color-set
$color: #000000;
